@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}
.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #191c32;
  color: #fff;
}
.navbar{
  display: flex;
  justify-content: space-between;
  padding: 2em;
}
.brand{
  margin-top: -7px;
}
.brand h2{
  font-size: 2.5em;
}
.brand span{
  color: #7CF9FA;
}
.menu{
  display: flex;
  width: 50%;
  justify-content: space-around;
}
.menu li{
  list-style: none;
}
.menu a{
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}
.menu .active{
  color: #7CF9FA;
}
.menu a:hover{
  background-color: #7CF9FA;
  color: #191c32;
  transition: ease-in .4s;
}
.main{
  margin:0 auto;
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
}

h1{
  font-size: 3em;
}

span{
  color: #7CF9FA;
}
.download-cv{
  padding: 10px 20px;
  background-color: #7CF9FA;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, .69);
}
.download-cv:hover{
  background-color: white;
  box-shadow:none;
}
.main img{
  width: 350px;
  height: 520px;
  
}
.about{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 100vw;
  height: 100vh;
  align-items: center;
}
.about img{
  width: 100%;
  grid-column: 1/5;
  margin: 1em;
  border: 5px solid #7CF9FA;
}
.about-info{
  grid-column: 5/10;
  padding: 3em;
}
.about-info h2{
  font-size: 2em;
  color: #191c32;

}
.divider{
  height: 4px;
  width: 60px;
  margin-top: 5px;
  margin-bottom: 2em;
  background-color: #7CF9FA;
}

.about p {
  margin-bottom: 1em;
  color: #191c32;
}
.portafolio,
.contact-section{
  width: 100vw;
  background-color: #191c32;
  color: #fff;
}
.portafolio-headings, .contact-headings{
  width: 100vw;
  padding: 5em;
}
.portafolio-headings h2, .contact-headings h2{
  font-size: 2.5em;

}
.portafolio 
.container{
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.card{
  width: 300px;
  height: 350px;
  margin: 1em;
  color: #fff;
  background-color: #0e1753;

}
.card_img{
  width: 100%;
  height: 150px;
  background-image: url(../img/2-original.png);
  background-size: cover;

}

.card_title{
  padding: 20px;

}
.card_projects-links{
  display: flex;
  justify-content: space-evenly;

}
.card_projects-links a{
  color: #fff;
  text-decoration: none;
}
card_projects-links i{
  font-size: 1.5em;
}
.card .project-details{
  margin: 0 auto;
  margin: 1em;
  width: 70%;
  text-transform: uppercase;
}
.card .project-details a{
  text-decoration: none;
  color: #191c32;
}
.project-detail-content{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1em;
}

.container-contact{
  padding: 3em;
  margin: 0 auto;
  display: flex;
}


.container-contact img{
  width: 750px;
  height: 700px;
  bottom: 0px; 
}

.form{
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-top: 2em;
}
.form input{
  padding: 10px 20px;
  margin-bottom: 1em;
  background: none;
  border:none;
  border-bottom: 1px solid #fff;
  color: #fff;
}
.form textarea{
  height: 150px;
  background: none;
  color: #fff;
  padding: 1.5em;
  border: 1px solid #fff;
}

.btn-submit{
  padding: 10px 20px;
  margin: 1em;
  border:none;
  text-transform: uppercase;
  background-color: #7CF9FA;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, .69);
}
.btn-submit:hover{
  background-color: #fff;
  box-shadow: none;
}
.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 180px;
  background-color: #11163a;
}
.footer-content h2{
  font-size: 2em;
  
}
.footer-content h5{
  font-size: 1.5em;
}
.social-network{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  margin-top: 1em;
}
.social-networ i{
  cursor: pointer;
}
